{% extends "header.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container py-5">
	<h1>Ingredients</h1>
	<form method="POST">
		{% csrf_token %}
		{{ form|crispy }}
		<button class="btn btn-primary" type="submit">Submit</button>
	</form>
</div>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}